@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;1,400&display=swap');

*,
*::before,
*::after{
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;

}

/* =========================== HEADER =========================== */


.header{
    background-color: #1B1B1B;
    color: #fff;
}

.header__container {
    
    height: 70px;

    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;

}
.container {
    max-width: 1220px;
    margin: 0 auto;
}
.header__logo {
}
.header__contact {
    display: flex;
    flex-direction: row;
    align-items: center;

}
.contact {
}
.contact__number {
    margin-right: 20px;


    text-align: center;

    color: #fff;
    text-decoration: none;
}
.contact__button {

    text-align: center;

    color: #DA4533;
    text-decoration: none;
}
.contact__button:hover {
    text-decoration: underline;
}

.header__menu {
    
}
.menu {
}
.menu__list {
    display: flex;
    flex-direction: row;

    list-style-type: none;
}
.menu__item:not(:last-child){
    margin-right: 30px;
    
}

.menu__link{
    text-decoration: none;
    transition: all .3s ease-out;
    color: #fff;
}

.menu__link:hover{
    cursor: pointer;
    color: #DA4634;
    transition: all .3s ease-in;
}

.menu__icon{
    position: relative;
    display: none;
    visibility: hidden;
    width: 26px;
    height: 26px;
}

.menu__icon span,
.menu__icon::before,
.menu__icon::after{
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all .3s ease-out;
    background-color: #fff;
    right: 0;

}

.menu__icon::before,
.menu__icon::after{
    content: "";
}

.menu__icon::before{top:0;width: 23px;}
.menu__icon::after{bottom: 0;width: 17px;}
.menu__icon span{
    top: 50%;
    transform: scale(1) translate(0px, -50%);
    width: 26px;
}

.menu__icon.active span{
    display: none;
    visibility: hidden;
}

.menu__icon.active::after,
.menu__icon.active::before{
    width: 26px;
    top: 50%;
    transform: scale(1) translate(0px, -50%);
}

.menu__icon.active::after{
    transform: rotate(-45deg);
}
.menu__icon.active::before{
    transform: rotate(45deg);
}

/* =========================== MAIN BLOCK =========================== */

.main {
    color: #fff;
    background-image: url(../img/backgroud-black.png);

}


.main__wrapper{
    background-color: rgba(0, 0, 0, 0.9);


}
.main__container {
    padding: 110px 0px 160px 0px;
}
.container {
}
.main__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: relative;
}
.info {
}
.info__text {
    max-width: 600px;

}
.info__suptitle {
}
.suptitle {
    margin: 0;
    color: #8A8A8A;
    text-transform: uppercase;

    margin-bottom: 8px;
    font-weight: 400;
}
.info__title {
}
.title {
    font-family: 'STIX Two Text', serif;
    font-weight: 500;
    font-size: 55px;
    margin: 0;
    margin-bottom: 16px;
}
.info__subtitle {
}
.subtitle {
    margin: 0;
    margin-bottom: 32px;
    font-weight: 400;
    color: #8A8A8A;
}
.info__buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.btn-big {
    position: relative;
    flex-wrap: wrap;
    padding: 24px 20px;
    border-radius: 50%;
    color: #fff;
    text-decoration: none;
    max-width: 300px;
    text-align: center;

    margin-right: 40px;
}

.btn-big::after {
    opacity: 0;
    top: 0;
    left: 0;
    display: block;
    position: absolute;
    width: 300px;
    height: 86px;
    border: solid 1px #fff;
    border-radius: 50%;
    content: "";
    transition: all .3s ease-out;


    transform: rotate(5deg);

}

.btn-big:hover::after {
    opacity: 1;
    transition: all .3s ease-in;

}


.btn-big-red{
    background-color: #DA4533;

}


.btn-big-black{
    background-color: #1b1b1b;

}


.btn {
    position: relative;
    padding: 10px 20px;
    border: 1px solid #DA4533;
    border-radius: 50%;
    color: #DA4533;
    text-decoration: none;
    text-align: center;
}


.btn-next::after {
    content: url(../img/arrow.png);
    display: flex;

    position: absolute;
    bottom: 11px;
    left: 115px;
    margin: 0;
    transition: all .3s ease-out;

    opacity: 1;
}

.btn-next:hover::after {
    left: 150px;
    opacity: 0;
    transition: all .3s ease-in;

}

.info__image {
    position: relative;
    top: -90px;
    left: 30px;

}


.main__expirience {
    display: flex;
    flex-direction: row;
}

.expirience__image {
    width: 430px;
    height: 396px;
    position: relative;
    left: -90px;


    margin-right: 50px;
}
.expirience__text {
    max-width: 800px;
}
.expirience__title {
    font-size: 38px;
}
.expirience__subtitle {
    margin-bottom: 50px;
}
.expirience__list.cards{
    margin-bottom: 100px;

}
.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    list-style-type: none;
    padding: 0;
    margin: 0;
    justify-content: space-between;


}
.expirience__item {
    width: 370px;
    height: 135px;
 

}
.card {
    padding: 20px;
    position: relative;
    border-radius: 10px;
    margin: 0px 0px 20px 0px;
    transition: all .3s ease-out;
    /* overflow: hidden; */
    background-color: #1B1B1B;
    z-index: 2;
}



.card__bord {
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(160deg, rgb(211, 65, 49) 0%, rgba(211,68,51,0) 20%);
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 10px;
    opacity: .4;

    
}

.card__back{
    background-color: #1B1B1B;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 1px;
    left: 1px;
    border-radius: 10px;
    position: absolute;

    padding: 20px;
    margin: 0px 0px 20px 0px;
    transition: all .3s ease-out;
    /* overflow: hidden; */
}


.card__content {
    z-index: 10;
}

.card:hover {
    filter: brightness(150%);
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.card__title {
    margin: 0;
    padding: 0;

    font-size: 36px;
}
.card__subtitle {
    margin: 0;
    padding: 0;
    max-width: 290px;
}

.clients__subtitle{
    margin-bottom: 50px;

}


.clients__item {
    height: 120px;
    width: 370px;

    display: flex;

    justify-content: center;
    align-items: center;
}

.card__image{
    filter: brightness(50%);
}

/* =========================== SERVICES BLOCK =========================== */

.services {
    background-image: url(../img/backgroud-grey.png);
    /* background-repeat: no-repeat; */
    /* overflow: hidden; */


}
.services__wrapper {
    /* background-color: rgba(255, 255, 255, 0.911); */
    padding: 300px 0px 50px 0px;


}
.services__container {
}
.container {
}
.services__info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.services__text {
    max-width: 710px;
}
.services__title {
    font-size: 38px;
    color: #1B1B1B;
}
.services__subtitile {
}
.services__btn {
}
.btn {
}
.btn-next {
}
.services__slider {
}
.slider__content {
    display: flex;
    flex-direction: row;

    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
}
.slider__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    padding: 20px 25px;
    background-color: #1B1B1B;
    /* min-width: 295px; */
    min-height: 400px;

    border-radius: 10px;
    font-size: 18px;
    transition: all .3s ease-out;

    color: #8A8A8A;
}

.slider__item:hover {
    filter: brightness(170%);
    cursor: pointer;
    transition: all .3s ease-in-out;
}


.slider__item:not(:last-child) {
    margin-right: 20px;

}

.slider__item a{
    text-decoration: none;
    align-self: flex-end;

}

.swiper-slide{
    max-width: 289px;
}

.slider__open-btn{
    margin-bottom: 25px;
}

.slider__image{
    margin-bottom: 65px;
}
.slider__subtitle{
    /* align-self: flex-end; */
    margin: 0;
}
.slider__controls {
    min-width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    align-items: center;
}
.services__slider .slider__controls {
    margin-bottom: 0;
}

.slider__btn {

}

.slider__btn:not(:last-child) {
    margin-right: 10px;
}

.slider__btn-next,
.slider__btn-prev{
    transition: all .1s ease-out;

}



.quiz__btn-next:hover,
.quiz__btn-prev:hover,
.slider__btn-next:hover,
.slider__btn-prev:hover {
    transition: all .2s ease-in;
    transform: scale(1.1);
}






/* =========================== QUIZ BLOCK =========================== */


.quiz {
    background-image: url(../img/backgroud-red.png);
    padding: 160px 0px;

}

.quiz__container {
}

.quiz__info {
    color: #fff;
}
.quiz__title {
    font-family: 'STIX Two Text', serif;
    font-size: 38px;
    font-weight: 400;
    margin-bottom: 16px;

}
.quiz__subtitle {
    color: #fff;
    font-weight: 500;
    margin-bottom: 50px;

}
.quiz__content {
    display: flex;
    flex-direction: column;
    padding: 40px;
    max-width: 1041px;
    background-color: #1B1B1B;
    color: #fff;
    border-radius: 5px;
    margin-bottom: 50px;

}
.quiz__content-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 30px;    
}
.quiz__question {
    font-size: 24px;
    font-weight: 500;

}
.quiz__indicator {
    font-family: 'STIX Two Text', serif;
    font-size: 36px;

    margin: 0;
    padding: 0;
}
.quiz__indicator span {
    color: #DA4533;
}

.quiz__answers {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: 0;

    margin-bottom: 30px;

}
.quiz__answers-item.active,
.quiz__answers-item {
    
    font-size: 16px;
    font-weight: 500;
    width: calc(50% - 10px);
    margin: 0px 0px 15px 0px;
    padding: 18px 20px;
    transition: all .3s ease;
    cursor: pointer;

}
.quiz__answers-item {
    background-color: #262626;

}

.quiz__answers-item.active{
    background-color: #DA4533;
    transition: all .3s ease;
}
.quiz__answers-item.active label:hover,
.quiz__answers-item.active:hover{
    color: #fff;
}

.quiz__answers-item label,
.quiz__answers-item.active label{
    cursor: pointer;
}

.quiz__answers-item:hover,
.quiz__answers-item label:hover{
    color: #DA4634;

    transition: all .1s ease-in;
}

.quiz__question-item__answers{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.quiz__answers-label{
    /* min-width: 200px; */
    /* min-height: 40px; */
}

.answer__input{
    display: none;
}


.quiz__controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.quiz__btn {
    background-color: #1B1B1B;
    border: 0;
    outline: 0;
}

.quiz__btn:hover {
    cursor: pointer;
}
.quiz__btn-prev {
}
.quiz__btn-next {
}

.quiz__bonus {
    color: #fff;
}
.quiz__bonus-title {
    margin-bottom: 25px;
}
.quiz__bonus-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.quiz__bonus-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 392px;
    margin-right: 20px;
    padding: 15px;
    background-color: #1B1B1B;
    border-radius: 10px;
}
.quiz__bonus-item__image {
    margin-right: 15px;
}
.quiz__bonus-item__title {
    font-size: 18px;
    font-weight: 500;
}

/* ============================= CASES BLOCK ==================================== */

.cases {
    background-image: url(../img/backgroud-black.png);
    
}
.cases__wrapper {
    background-color: rgba(0, 0, 0, 0.9);

    padding: 160px 0px;

}
.cases__container {
}
.container {
}
.cases__info {
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 50px;


}
.cases__text {
    max-width: 710px;
}
.cases__title {
    font-family: 'STIX Two Text', serif;

    font-size: 38px;
    font-weight: 400;
}
.cases__subtitle {
    font-family: 'Montserrat', sans-serif;

    font-size: 16px;
    font-weight: 500;
    color: #8a8a8a;

}
.cases__btn {
}
.btn {
}
.btn-next {
}
.cases__slider {
}
.swiper {
}
.slider__content {
}
.swiper-wrapper {
}

.cases-slider__item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-height: 289px;

    border-radius: 5px;

    color: #8A8A8A;

    max-width: 598px;
    max-height: 289px;
    transition: all .3s ease-out;

}

.cases-slider__item:hover{
    filter: brightness(130%);
    cursor: pointer;
    transition: all .3s ease-in-out;
}


.cases-slider__item:not(:last-child){
    margin-right: 20px;

}

.slider__item {
}
.swiper-slide {
}

.cases__slider-image{
    background-color: #2f2f2f;
    /* padding: 125px 48px; */
    min-height: 289px;
    min-width: 300px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 10px 0px 0px 10px;


} 
.slider__image {
    margin: 0 auto;
}

.cases-slider__item-info{
    padding: 20px;
    background-color: #242424;
    min-height: 289px;

    font-family: 'Montserrat', sans-serif;
    border-radius: 0px 10px 10px 0px;

}

.cases-slider__item-info a{
    display: flex;
    align-items: center;
    justify-content: flex-end;

}


.slider__item-info {
}


.slider__open-btn {
    transition: all .4s ease;

}

.slider__open-btn:hover {
    filter: brightness(200%);
    transition: all .4s ease;
}

.cases-slider__open-btn{
    margin-bottom: 48px;


}
.slider__item-title {
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    line-height: 1.5;

}
.slider__item-subtitle {
    font-size: 14px;
    font-weight: 400;


}
.slider__controls {
}
.slider__btn {
}
.slider__btn-prev {
}
.slider__btn-next {
}


/* ========================== TEAM BLOCK ==================================== */

.team {
    background-image: url(../img/main-page/team/background_team.png);
    color: #1B1B1B;
}
.team__wrapper {
    padding: 160px 0px;
}
.team__container {
}
.container {
}
.team__info {

}
.team__text {
    max-width: 707px;
}
.team__title {
    font-family: 'STIX Two Text', serif;
    font-weight: 400;
    font-size: 38px;
    margin-bottom: 16px;
}
.team__subtitle {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 50px;

}
.team__slider {
}
.swiper {
}
.team-slider__content {
}
.slider__content {
}
.swiper-wrapper {
}
.team-slider__item {
    max-width: 289px;

}

.team-slider__item:not(:last-child) {
    margin-right: 20px;

}

.swiper-slide {
}
.team__slider-item__image{
    
    border-radius: 5px;
    
    overflow: hidden;

}

.team__slider-item__image img{
    filter: grayscale(100%);
    transition: all .5s ease;
}

.team__slider-item__image:hover img{
    transform: scale(1.1);
    filter: grayscale(0%);
    transition: all .6s ease;

    cursor: pointer;
}

.team__slider-item__name {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 5px;
    max-width: 130px;
}
.team__slider-item__subtitle {
    margin: 0;
    padding: 0;
    color: #5C5C5C;
    font-weight: 400;
    font-size: 14px;
}
.team-slider__controls{
    margin-bottom: 70px;
}

.slider__btn {
}
.slider__btn-prev {
}
.slider__btn-next {
}
.team__forums {
    
}
.team__forums-title {
    font-weight: 500;
    font-size: 24px;
}
.team__forums-content {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.forums {
}
.forums__item {
    display: flex;
    flex-direction: row;
}


.forums__item-pers {
    display: flex;
    flex-direction: row;
    margin-right: 50px;
    width: 445px;
}
.forums__pers-avatar {
    filter: grayscale(100%);
    border-radius: 50px;
    margin-right: 15px;
}
.forums__pers-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.forums__pers-name {
    font-weight: 500;
    font-size: 16px;
    color: #1b1b1b;
    margin: 0;
    padding: 0;
}
.forums__pers-spec {
    font-weight: 400;
    font-size: 14px;
    color: #5C5C5C;
    margin: 0;
    padding: 0;
}
.forums__item-place {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    max-width: 495px;
    margin-right: 50px;
}
.forums__place-title {
    font-weight: 500;
    font-size: 18px;
    color: #1b1b1b;
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
}
.forums__decor, .decor {
    height: 1px;
    
}
.decor-red {
    
    width: 495px;
    background: linear-gradient(to right, #DA4634, #da473407);
    margin-bottom: 10px;
}
.forums__place-subtitle {
    font-weight: 400;
    font-size: 16px;
    color: #5C5C5C;
    margin: 0;
    padding: 0;
}
.forums__item-date {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    max-width: 112px;

}
.forums__item-date::before{
    content: url(../img/arrow.png);
    left: 300px;

    position: absolute;
    bottom: 50px;
    margin: 0;
    transition: all .2s ease-out;
    opacity: 0;
    display: block;
}

.forums__item-date::after{
    content: "";
    height: 180px;
    width: 180px;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    border: solid 1px #da4433;
    border-radius: 50%;
    transition: opacity .6s ease;
    transform: translate(-20%, -25%);

}
.forums__item-date:hover::before{

    left: 130px;
    opacity: 1;
    transition: all .3s .3s ease;

}
.forums__item-date:hover::after{
    opacity: 1;
    transition: opacity .5s ease-in;
}

.forums__date-date {
    font-weight: 500;
    font-size: 18px;
    color: #1b1b1b;
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
}
.forums__date-time {
    font-weight: 400;
    font-size: 16px;
    color: #5C5C5C;
    margin: 0;
    padding: 0;
}
.decor-grey {
    width: 1237px;
    background: linear-gradient(to right, #8D8D8D, #8d8d8d07);
    margin: 50px 0px;
}

/* ====================== HELP BLOCK =============================== */

.help {
    background-image: url(../img/backgroud-red.png);
}
.help__wrapper {
    padding: 100px 0px 85px 0px;

}
.help__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.container {
}
.help__info {
    max-width: 707px;
    color: #fff;
}
.help__title {
    font-family: 'STIX Two Text', serif;

    font-size: 38px;
    font-weight: 400;
}
.help__subtitle {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 50px;
    color: rgba(255, 255, 255, 0.8);

}
.help__btn {
    display: flex;

}
.btn-big {
}
.btn-big-black {
}
.help__image {
}

/* ======================== FOOTER ========================= */

.footer {

    background-image: url(../img/backgroud-black.png);
    color: #ababab;
    
}
.footer__wrapper {
    background-color: rgba(0, 0, 0, 0.9);

    padding: 100px 0px 50px 0px;
}
.footer__container {
}
.container {
}
.footer__text {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;

}
.footer__logo {
    margin-right: 20px;
}
.footer__subtitle {
    margin: 0;

    max-width: 515px;
    margin-right: 185px;
    color:#5C5C5C;
    font-weight: 400;
    font-size: 14px;
}
.footer__docs {
    margin: 0;

}

.footer__docs span{
    color: #5C5C5C;
}
.footer__decor {
}
.decor-grey {
}
.footer__content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    margin-bottom: 50px;
}

.footer__content div ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer__content div ul li a{
    text-decoration: none;
    color: #e2e2e2;
    transition: all .3s ease;
}

.footer__content div ul li a:hover{
    color: #DA4533;
    transition: all .3s ease;
}

.footer__content div p{
    margin: 0;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 20px;
    color:#5C5C5C;
}

.footer__content div ul li{
    margin-bottom: 15px;
    font-weight: 300;
    
}


.footer__nav {
}
.footer__nav-title {
}
.footer__nav-content {
}
.footer__nav-item {
}
.footer__contacts {
}
.footer__contacts-title {
}
.footer__contacts-content {
}
.footer__contacts-item {
}
.footer__social {
}
.footer__social-title {
}
.footer__social-content {
}
.footer__social-item {
}
.footer__map {
}
.footer__map-title {
}
.footer__map-content {
}
.footer__map-item {
}
.footer__info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-weight: 300;
    font-size: 14px;
}
.footer__info a{
    transition: all .3s ease;
    text-decoration: none;
    color: #ababab;
}

.footer__info a:hover{
    color: #DA4533;
    transition: all .3s ease;
}

.footer__copyright {
    margin: 0;

    color: #5C5C5C;
}
.footer__offer {
    margin: 0;

}
.footer__terms {
    margin: 0;

}






/* ============================== Media Queries ==========================================*/

@media (max-width: 1500px) {
    .forums__item-date::before{
        left: 200px;
    }
}

@media (max-width: 1024px) {
    .header{
        position: fixed;
        top: 0;
        z-index: 12;
        width: 100%;
        
        transition: all .3s ease 0s;
    }
    .menu__icon{
        right: 0;
        visibility: visible;
        display: block;
        /* position: fixed; */
        /* right: 30px; */
        /* top: 20px; */
        z-index: 11;
    }
    .forums__item-date::before{
        left: 70px;
    }
    .menu__list {
        /* display: none; */
    }
    .menu__list{
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        font-size: 30px;
        font-weight: 700;


        margin: 0;
        position: fixed;
        top: 0;
        right: -100%;
        width: 40%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.950);
        z-index: 10;
        padding: 60px 30px;
        transition: all .6s ease 0s;
        /* transform: translate(-100%, 0px); */
        /* margin-top: 30px; */
    }
    .menu__list.active{
        /* transform: translate(0px, 0px); */
        right: -10px;
    }
    
    .menu__list::before{
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        height: 70px;
        width: 100%;
        background-color: #1B1B1B;
        z-index: 11;


    }
    .menu__item:not(:last-child){
        margin: 0;    
        margin-bottom: 30px;
        
    }
    .menu__item:first-child{
        margin-top: 30px;
    }
    .header__contact,
    .header__logo{
        z-index: 12;
    }
   

    .container {
        max-width: 960px;
    }
    .title{
        font-size: 38px;
        font-weight: 400;

    }
    .subtitle{
        font-size: 16px;
        font-weight: 500;
        font-family: 'Montserrat', sans-serif;

    }
    .suptitle{
        font-size: 16px;
        font-weight: 500;
    }

    .info__image{
        transform: scale(1.1);
        top: 0px;
        left: -20px;
        overflow: hidden;
    }
    .info__text{
        max-width: 100%;
    }
    .btn-big-red{
        margin-right: 20px;
    }

    .forums__item-date::after{
        width: 0px;
        height: 0px;
        display: none;

    }
    .forums__item-date::before{
        content: "";
        display: none;
    }

    .decor-grey{
        max-width: 960px;
    }

    .header__container {
        justify-content: space-between;
    }

    .header__logo{
        /* margin-right: 153px; */
    }
    .expirience__text{
        max-width: 633px;
    }
    .expirience__image{
        transform: scale(1);
        width: 313px;
        height: 313px;
        margin-right: 0;
        overflow: hidden;

    }
    .expirience__item{
        max-width: 307px;
    }

    .card{
        padding: 20px;
        max-width: 307px;
        max-height: 137px;
    }
    .clients__item{
        max-width: 306px;
        max-height: 93px;
    }
    .card__image{
        transform: scale(.7);
    }

    .slider__item {
        max-width: 307px;
        max-height: 425px;
    }

    .team-slider__item{
        max-width: 307px;
        max-height: 433px;
    }
    .team-slider__content{
        margin-bottom: 40px;
    }


}

@media (max-width: 769px) {
    .main__wrapper,
    .services__wrapper,
    .quiz,
    .cases__wrapper,
    .team__wrapper{
        padding: 80px 0px;
    }
    .help__wrapper{
        padding: 60px 0px 45px 0px;
    }



    .menu__icon{
        background-color: #242424;
        width: 46px;
        height: 46px;
        border-radius: 3px;
    }
    
    .menu__icon span,
    .menu__icon::before,
    .menu__icon::after{
        height: 3px;
        max-width: 46px;
        right: 10px;

    }

    .menu__icon::before,
    .menu__icon::after{
        content: "";
    }

    .menu__icon::before{top:10px;width: 23px;}
    .menu__icon::after{bottom: 10px;width: 17px;}
    .menu__icon span{
        top: 50%;
        transform: scale(1) translate(0px, -50%);
        width: 26px;
    }

    .menu__list{

    }




    .info__image{
        width: 255px;
        height: 255px;
        top:0;
        right: 0;

    }
    .expirience__image{
        display: none;
    }
    .info__text{
        max-width: 510px;
    }

    .title{
        font-weight: 500;
        font-size: 44px;
    }
    .subtitle{
        font-size: 16px;
        font-weight: 400;
    }
    .info__buttons{
        margin-bottom: 80px;
    }
    .expirience__text{
        max-width: 100%;
    }
    .card{
        max-width: 354px;
        max-height: 137px;
    }

    .services__text{
        max-width: 500px;
        text-align: center;
    }

    .slider__item {
        padding: 15px;
        max-width: 230px;
        max-height: 300px;
        min-height: 300px;
    }
    .slider__item:not(:last-child) {
        margin-right: 20px;
    }

    .services__btn {
        margin-right: 30px;
    }

    .quiz__content{
        max-width: 700px;
        margin-bottom: 30px;
        padding: 10px;
    }


    .quiz__answers-item{
        width: 300px;
        font-size: 14px;
        font-weight: 300;
        padding: 10px;
        border-radius: 3px;
    }
    .quiz__answers{
        justify-content:space-around;
    }
    
    .quiz__bonus-item{
        padding: 10px;
        max-width: 345px;

        margin: 0;
    }
    .quiz__bonus-item:not(:last-child){
        margin-right: 10px;

    }
    .quiz__bonus-item img{
        width: 40px;
        height: 70px;
    }
    .quiz__bonus-item__title{
        font-weight: 300;
        font-size: 16px;
    }

    .container{
        max-width: 728px;
        padding: 0px;
    }
    .cases__text{
        max-width: 500px;
    }

    .cases__btn{
        margin-right: 30px;
    }
    .btn-next:hover::after{
        left: 140px;
    }

    .team__wrapper{
        padding: 80px 0px;
    }
    .team-slider__item{
        max-height: 381px;
        max-width: 229px;
    }
    .team__slider-item__image img{
        max-width: 229px;
        max-height: 254px;
    }

    .slider__controls{
        margin: 0;  
    }
    .team-slider__controls{
        margin-bottom: 40px;
    }

    

    .team__forums-title{
        margin-top: 0;
    }
    
    .forums__item{
        align-items: center;    
        justify-content: space-between;
    }

    .forums__item-pers{
        flex-direction: column;
        max-width: 185px;
    }

    .forums__item-place{
        max-width: 339px;
    }

    .forums__item-pers,
    .forums__item-place,
    .forums__item-date{
        margin: 0;
        
    }



    .forums__pers-avatar{
        margin-bottom: 15px;

    }
    .forums__pers-name{
        margin-bottom: 5px;

    }

    .forums__date-date,
    .forums__place-title,
    .forums__pers-name{
        font-size: 16px;
        font-weight: 500;

    }

    .forums__date-time,
    .forums__place-subtitle,
    .forums__pers-spec{
        font-size: 14px;
        font-weight: 400;
    }

    .forums__place-title{
        font-weight: 500;
        font-size: 20px;
    }
    .forums__place-subtitle{
        font-weight: 400;
        font-size: 16px;
    }

    .decor-red{
        max-width: 339px;
    }

    .decor-grey{
        max-width: 728px;
        margin: 20px 0px;
    }
    .forums__item-date{
        margin-right: 10px;
    }

    .forums__item-date::before{
        content: url(../img/arrow.png);
        left: -300px;

        top: 12px;
        position: absolute;
        bottom: 50px;
        margin: 0;
        transition: all .2s ease-out;
        opacity: 0;
        display: block;
    }
    
    .forums__item-date::after{
        display: block;
        content: "";
        height: 133px;
        width: 133px;
        opacity: 1;
        position: absolute;
        top: -10px;
        left: 14px;
        border: solid 1px #da4433;
        border-radius: 50%;
        transition: opacity .6s ease;
    
    }
    .forums__item-date:hover::before{
    
        left: 105px;

        opacity: 1;
        transition: all .3s ease;
    
    }

    .help__image {
        width: 230px;
        height: 228px;
        transform: translateY(-30px);
    }

    .help__title{
        font-size: 28px;
        font-weight: 400;
    }

    .help__subtitle{
        font-weight: 500;
        font-size: 14px;
        color: #EAABA4;
    }
    
}

@media (max-width: 480px) {
    .header__contact{
        visibility: hidden;
        display: none;
    }

    .menu__list{
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .9);

    }
    .menu__list.active{
        /* transform: translate(0px, 0px); */
        left: 0px;
    }

    .container{
        max-width: 440px;
    }

    .info{
        flex-direction: column;
        text-align: center;
    }
    .info__image{
        display: none;
    }
    .info__buttons{
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .info_btn{
        margin: 0;
    }
    .info__btn.btn-big{
        
        margin-bottom: 15px;
    }
    .info__title{
        font-size: 44px;
        font-weight: 500;
        font-style: italic;
        margin-top: 40px;

    }
    .title{
        font-size: 28px;
    }
    .subtitle{
        font-size: 16px;
        font-weight: 400;
        color: #8a8a8a;
        margin-bottom: 16px;
    }

    .expirience__item{
        max-width: 210px;
        height: 139px;
    }
    .clients__list.cards {
        flex-direction: column;
        justify-content: flex-start;
    }
    .clients__item{
        width: 100%;
        max-width: 100%;
        padding: 10px;
    }
    .services__info {
        flex-direction: column;
        align-items: flex-start;
    }

    .slider__item {
        max-width: 210px;
        max-height: 290px;
    }

    .slider__image{
        width: 115px;
        height: 120px;
    }
    .btn-next{
        margin-bottom: 30px;
    }

    .quiz__answers-item{
        width: 200px;
        text-align: center;
        display: flex;
        align-items: center;
    }
    .quiz__answers-label{
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
    }
    .quiz__answers-item.active{
        font-size: 14px;
        font-weight: 300;
        padding: 10px;
    }

    .cases__slider-image{
        height: 248px;
        width: 159px;
        min-width: 0px;
        min-height: 0px;
    }
    .cases__slider-image img{
        width: 103px;
        height: 21px;
    }
    .slider__item-info {
        width: 281px;
        height: 248px;
        padding: 10px;
        min-height: 0px;
    }

    .cases__info{
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 0;
    }
        
    .quiz__subtitle,
    .help__subtitle {
        color: rgba(255, 255, 255, 0.8);

    }
    .team-slider__item{
        max-width: 210px;
        max-height: 360px;
    }
    .team__slider-item__image,
    .team__slider-item__image img{
        width: 210px;
        height: 233px;
    }
    .forums__item{
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .forums__item-pers{
        max-width: 100%;
        flex-direction: row;
        margin-bottom: 15px;
    }
    .forums__pers-avatar{
        margin-bottom: 0;
    }
    .forums__item-place{
        max-width: 270px;
    }
    .forums__item-date{
        align-self: center;
    }

    .decor-red{
        margin: 10px 0px;
        max-width: 250px;
    }
    .decor-grey{
        margin: 31px 0px 20px 0px;
        max-width: 100%;
    }
    .forums__item-date::before {
        left: -100px;
    }
    .help__image{
        display: none;
    }
    .help__info{
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
    .btn-big{
        margin-right: 0;
    }

    .footer__subtitle{
        margin-right: 10px;
    }

    .footer__content{
        flex-direction: row;
        flex-wrap: wrap;
        /* max-height: 300px; */
    }
    .footer__map,
    .footer__contacts{
        display: none;
    }
}

@media (max-width: 425px) {
    .services__wrapper,
    .cases__wrapper{
        padding: 40px 0;
    }
    .container{
        max-width: 320px;
    }
    .main__wrapper{
        padding: 40px 0;
    }
    .info__buttons{
        margin-bottom: 40px;
    }
    .expirience__item{
        max-width: 100%;
        width: 100%;
    }
    .card__back{
        display: flex;
        align-items: center;
        flex-direction: row;

    }
    .subtitle{
        font-weight: 400;
        font-size: 14px;
    }
    .title{
        font-size: 24px;
        font-weight: 400;
    }
    .info__title{
        font-size: 34px;
        font-weight: 500;
    }
    .expirience__list.cards{
        margin-bottom: 48px;
    }
    .card{
        height: 76px;
        margin-bottom: 15px;

    }
    .card__title {
        margin-right: 20px;
    }

    .services__info{
        align-items: center;
        
    }
    .btn-next{
        margin-right: 0;
    }
    .slider__item {
        max-width: 100%;
        width: 100%;
        height: 100%;
    }

    .quiz__answers-item{
        width: 100%;
        text-align: left;
    }
    .quiz__answers-item.active{
        width: 100%;
    }

    .slider__item-subtitle{
        display: none;
        visibility: hidden;
    }
    .cases__info{
        align-items: center;
        text-align: center;
    }
    .cases__slider-image{
        min-width: 150px;
    }
    .cases__slider-image img{
        max-height: 21px;
    }
    .cases-slider__item-info{
        max-width: 170px;
    }
    .slider__item-title{
        max-width: 150px;
        margin: 0;
        max-height: 100%;
    }




    .team__wrapper{
        padding: 60px 0px;

    }

    .team-slider__content{
        margin-bottom: 15px;
    }

    .team-slider__item {
        max-width: 100%;
        width: 100%;
        height: 100%;
        max-height: 436px;
    }
    .team__slider-item__image{
        width: 320px;
        height: 355px;
        max-width: 320px;
        max-height: 355px;
    }
    .team__slider-item__image img{
        width: 320px;
        height: 355px;
        max-width: 320px;
        max-height: 355px;
    }
    .team__slider-item__name{
        max-width: none;
    }
    .team-slider__controls{
        margin-bottom: 15px;
    }
    .forums{
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .forums__item-place{
        max-width: none;
        margin-bottom: 60px;
    }
    .forums__place-subtitle{
        font-size: 16px;
        font-weight: 500;
    }
    .forums__place-subtitle{
        font-size: 14px;
        font-weight: 400;
    }
    .decor-grey{
        margin-top: 60px;
    }
    .decor-red{
        margin: 5px;
    }
    

    .footer__text{
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .footer__logo,
    .footer__subtitle{
        margin-right: 0;
        margin-bottom: 15px;
    }
    .footer__decor.decor-grey{
        margin: 35px 0px;
    }

    .footer__content{
        flex-direction: row;
        margin-bottom: 35px;
    }
    .footer__social,
    .footer__nav{
        flex: 1 1 50%;
    }
    .footer__info{
        flex-direction: column;
    }
}


@media (max-width: 320px) {
    .container{
        max-width: 270px;
    }

    .btn-big::after {
        width: 270px;
        height: 86px;
    }
    .info__title {
        font-size: 25px;
    }

    .quiz__bonus-list{
        display: flex;
        flex-direction: column;
    }
    .quiz__bonus-item{
        margin-right: 0;
        margin-bottom: 10px;
        width: 270px;
    }
    .cases__slider-image {
        display: none;
        visibility: hidden;
    
    }
    .cases-slider__item-info{
        border-radius: 10px;
        width: 100%;
        max-width: 100%;
        text-align: center;
    }
    .slider__item-title{
        margin: 0 auto;
    }
    .slider__item-subtitle{
        display: block;
        visibility: visible;
    }
    .cases-slider__open-btn {
        margin-bottom: 10px;
    }
    .forums__item-date::before,
    .forums__item-date:hover::before,
    .forums__item-date::after{
        display: none;
        visibility: hidden;
    }
    .forums__item-date{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-start;
        justify-content: space-between;
        min-width: 100%;
        margin-right: 0;
    }
    .forums__date-date{
        margin-bottom: 0;
        max-width: none;
        margin-right: 10px;
    }
    .forums__item-place{
        margin-bottom: 20px;

    }
    
}